<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WakeMeUpPOC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>48DFFA981DE2053A00F25DC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48DFFAAC1DE2053A00F25DC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48DFFAB71DE2053A00F25DC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
